<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Hw 2</title>
    <style>
        .nostyledot {
            list-style: none;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row" id="root">
        <includebar></includebar>
        <div class="container">
            <div class="page-header alert alert-info">
                <h1>FootBall Sport Team
                    <small>Registration List</small>
                </h1>
            </div>
            <div class="col-md-8 alert alert-warning ">
                <input v-model="inp" type="text" placeholder="Type Something">
                <button @click="AddName">Add</button>
                <br/>
                <br/>
                <div class="panel panel-default">
                    <ul>
                        <h1>All</h1>
                        <li v-for="name in tasks" v-text="">{{name.info}}--{{name.Completed}}</li>
                        <h1>Completed</h1>
                        <li v-for="(name,index) in comp">{{name.info}}--{{name.Completed}}
                            <button @click="changeStatus(index)">Change State</button>
                        </li>
                        <h1>Not Completed</h1>
                        <li v-for="(name,index) in incomp" v-if="!name.Completed">{{name.info}}--{{name.Completed}}
                            <button @click="changeStatus(index)">Change State</button>
                        </li>
                    </ul>
                </div>
                <includeter></includeter>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="main.js"></script>
<script>

    var vm = new Vue({
        el: "#root",
        data: {
            inp: "",
            names: ["ali", "haider", "mohamed"],
            tasks: [
                {"info": "Go to Home", "Completed": true},
                {"info": "Clean the Room", "Completed": false},
                {"info": "Go to Store", "Completed": true},
                {"info": "Visit yur fathers", "Completed": true},
            ]
        },
        computed: {
            incomp: function () {
                return this.tasks.filter(function (task) {
                    if (!task.Completed)
                        return task;
                })
            },
            comp: function () {
                return this.tasks.filter(function (task) {
                    if (task.Completed)
                        return task;
                })
            },
        },
        methods: {
            deleteItem: function (n) {
                //  this.items.splice(index, 1);
                this.names.splice(n, 1);
            },
            changeStatus: function (index) {
                console.log(this.tasks[index].Completed);
                this.tasks[index].Completed = !this.tasks[index].Completed;
                console.log(this.tasks[index].Completed);

            },
            AddName: function () {
                if (!this.inp == "") {
                    this.tasks.push({"info": this.inp, "Completed": false});
                    this.inp.value = "";
                } else {
                    alert("Enter Somthing");
                }
            },
            DeleteLast: function () {
                var input = document.getElementById("inp");
                this.names.pop(input.value);
                input.value = "";
            },
            Edit: function () {
                var input = document.getElementById("inp");
                this.names.pop(input.value);
                var input = document.getElementById("inp");
                this.names.push(input.value);
                input.value = "";
            },
        }
    })
</script>

<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>